<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Contrasena:</strong>
    <%= usuario.contrasena %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= usuario.admin %>
  </p>

</div>
