<div id="<%= dom_id juega_individual %>">
  <p>
    <strong>Usuario:</strong>
    <%= juega_individual.usuario_id %>
  </p>

  <p>
    <strong>Puntuacion:</strong>
    <%= juega_individual.puntuacion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= juega_individual.fecha %>
  </p>

</div>
