<div id="<%= dom_id participa %>">
  <p>
    <strong>Torneo:</strong>
    <%= participa.torneo_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= participa.usuario_id %>
  </p>

  <p>
    <strong>Puntuacion:</strong>
    <%= participa.puntuacion %>
  </p>

</div>
